# Python
__pycache__/
*.pyc
.venv/
.env
.DS_Store

# Django
db.sqlite3
*.log

# Docker volumes / local
pgdata/
staticfiles/
.env.*
!.env.example
.pytest_cache/
image.tar.gz
release.tar
.deploy-state/
